<% provide(:title, 'new-student') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '新規登録') %>

<div class="student-title-2"><h1>生徒登録</h1></div>
  
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'student_form' %>
  </div>
</div>  