<% provide(:title, 'guardian-detail') %>

<div class="student-title"><h1>保護者詳細</h1></div>

  <table class="tb01">
    <tr>
      <th>保護者名</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= "〒#{@user.post_code}" %>　<%= @user.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @user.telephone_number %></td>
      </tr>
  </table>