<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <h1>学年選択<h2>
    <td><%= @user.name %></td>
    <td>2年</td>
    <td>3年</td>
    <td>4年</td>
    <td>5年</td>
    <td>6年</td>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>勤怠登録</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
        <th>在社時間</th>
        <th>備考</th>
      </tr>
    </thead>

    <tbody>
      <% (@first_day..@last_day).each do |day| %>
        <tr>
          <td><%= day %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>