<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>月表示</td>
      <td>クラス・生徒名</td>
      <td>◯件の連絡があります</td>
      <td></td>
    </tr>

    <tr>
      <td>所属</td>
      <td>名前：<%= @user.name %></td>
      <td>出勤日数</td>
      <td>月末日</td>
    </tr>
  </table>
</div>
