<% provide(:title, 'All-Students') %>

<h1>生徒一覧</h1>

<div>
  <!--%= will_paginate %-->
  <table class="table table-bordered table-condensed table-hover" id="table-class-index">      
    <thead> 
      <tr>
        <th>クラス</th>
        <th>名前</th>
        <th>保護者</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.class_number %></td>
          <td><%= link_to "#{student.name}", student_detail_user_path(student) %></td>
          <td><%= student.guardian_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
