<% provide(:title, 'Student-detail') %>
<h1>生徒詳細</h1>
<%= @user.name %>



<table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <th>生徒名</th>
                  <th>保護者名</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

        