<% provide(:title, 'Student-Detail') %>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <h1>生徒詳細</h1>
    <thead> 
      <tr>  
        <th>名前</th>
        <th>保護者名</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <!--% @schoolclassese_1.zip(@teachers) do |schoolclass, teacher| %-->
      <tr>    
        <td><%=  %></td>
        <td>
          <!--% if schoolclass.class_name == teacher.class_number %-->
            <%=  %>
          <!-- end %-->
        </td>
        <td><%=  %>
        <td><%=  %></td>
        <td></td>
      </tr>
      <!--% end %-->
    </tbody>
  </table>
</div>