<% provide(:title, 'Edit-1') %>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <h1>クラス一覧</h1>
    <thead> 
      <tr>  
        <th>クラス</th>
        <th>担任</th>
        <th>担任への連絡</th>
        <th>生徒数</th>
        <th>編集</th>
      </tr>
    </thead>
  
    <tbody>
      <% @schoolclassese_1.zip(@teachers) do |schoolclass, teacher| %>
      <tr>    
        <td><%= schoolclass.class_name %></td>
        <td>
          <% if schoolclass.class_name == teacher.class_number %>
            <%= link_to "#{teacher.name}", edit_teacher_user_path(teacher) %>
          <% end %>
        </td>
        <td><%= link_to "担任への連絡", schoolclasses_teacher_contact_index_user_path(teacher) %>
        <td><%= link_to "17名", student_index_user_path %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>