<% provide(:title, 'Edit-1') %>
  
<div class="class-index"><h1>１年クラス一覧</h1></div>  

<div class="inline-block_test">
  <table class="table table-bordered table-condensed" id="table-class-set">
    <th class="class-a">作成クラス</th>
      <% @schoolclassese_1.zip(@teachers) do |schoolclass, teacher| %>  
        <th class="class-b"><%= schoolclass.class_name %></th>
      <% end %>
  </table>
</div>

<div>  
  <table class="table table-bordered table-condensed table-hover" id="table-class-index">  
    <thead> 
      <tr>  
        <th>クラス</th>
        <th>担任</th>
        <th>担任への連絡</th>
      </tr>
    </thead>
  
    <tbody>
      <% @schoolclassese_1.each do |schoolclass| %>  
        <% @teachers.each do |teacher| %> 
          <% if schoolclass.class_name == teacher.class_number %>
            <tr>     
              <td><%= link_to "#{teacher.class_number}", student_index_2_user_path(teacher) %></td>
              <td><%= link_to "#{teacher.name}", edit_teacher_user_path(teacher) %></td>
              <td><%= link_to "担任への連絡", schoolclasses_teacher_contact_index_user_path(teacher) %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

