.container_box {
 text-align: center;
}

.container {
  margin: auto;
  display: block;
}

.posts-show-item {
  padding: 100px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

/* 学年選択 */

.schoolyear {
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #00FF3B;
  border-width:10px;
  width: 240px;
	height: 100px;
  background: #DDFFFF;
}

#table-schoolyear {
  margin: 40px;

  th {
    font-size: 30px;
    font-family: ヒラギノ丸ゴ ProN;
    text-align: center;
    border: 10px outset #31A9EE;
    background: #CEF9DC;
    a:hover{ color: #FF0000; background: #00FFFF;}  
  }
}

/* クラス選択 */

.class-index { 
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

/* 担任への連絡（日別）*/

.btn-month {
  margin: 20px;
  margin-left: 20px;
  font-size: 35px;
  font-weight: bold;
}

.btn--orange.btn--border-solid {
  border: 3px solid #FF1A6F;
  font-size: 25px;
  font-weight: bold; 
  background-color: #FFFFCC;
}

.contact-index { 
  margin-left: 35px;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
	height: 100px;
  background: #DDFFFF;
}

/* 担任連絡帳（管理者） */
.contact-index2 {
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 500px;
	height: 100px;
  background: #DDFFFF; 
}

#table-contact-index {
  margin: 20px;
  border:groove 6px #8ec6ff;
  a:hover{ color: #FF0000; background: #E0FFFF;}
  th {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;  
  }
  
  .date-1 {
    width: 12%;
  }

  .date-2 {
    width: 44%;
  }

  .date-3 {
    width: 44%;
  }
  
  td {
    vertical-align: middle;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    border: medium solid #FF9933;
    background: #CCFFFF;
  }
  
  .guardian-contact {
    font-size: 20px;
  }

  /*a.btn--green.btn--border-groove {
    font-size: 20px;
    font-weight: bolder;
    background: #FFFFCC;
    border: 6px groove #00FF00;
  } */ 
}

/* 連絡帳（学校側） */

.admin-contact { 
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

.contact-date {
  margin-left: 20px;
  margin-top: 30px; 
  font-size: 30px;
  font-weight: bold; 
  color: #111111; 
}

.contact-wday {
  float: left;
}

.contact-title {
  margin-left: 20px;
  input[type="text"] {
    height: 60px;
    padding: 0.5em 1em;
    font-size: 20px;
    font-weight: bold;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  }
  td {
    margin: 0; 
    padding: 0;
  }
}

.text-contact {
  margin-top: 18px;
  textarea {
    font-size: 20px;
    font-weight: bold;
    width:1104px;
    height:150px;
    border: solid 3px #FF0461;/*線*/
    border-radius: 10px;/*角の丸み*/
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-btn {
  margin-left: 20px;
  width: 150px;
}

.teacher-contact {
  width: 350px;
  padding: 0.5em 1em;
  margin-top: 30px;
  margin-left: 20px;
  color: #5989cf;
  background: #DDFFFF;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;

  h4 {
    font-size: 30px;
    color: #0066FF;
    margin: 0; 
    padding: 0;
  }
}

.posts-show {
  font-size: 20px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;/*背景色*/
  height:300px;
  margin-top: 20px;
  margin-left: 20px;

  td {
    margin: 0;
    padding: 0; 
  }
}

/* クラス一覧 */

.class-a {
  width: 150px;
  text-align: center;
}

.class-b { 
  text-align: center; 
}

#table-class-set {	
  padding: 0;                
  margin: 0;                 
  list-style: none;           
  text-align: center;  
  background: #FFFFCC;
  border:groove 6px #00F9A9;
  margin: 30px; 
  font-weight: bolder;
  font-size: 25px;
} 

.inline-block_test {
  margin-left: -20px;
  display: inline-block;      
  padding: 20px;             
  height: 100px;              
}

#table-class-index {
  margin: 30px;
  border:groove 6px #8ec6ff;
  a:hover{ color: #FF0000; background: #E0FFFF;}
  th {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;  
  }
  td {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: medium solid #FF9933;
    background: #FFFFCC;
  }

  td a {
    margin-left: 20px;
  }

  .student-1 {
    width: 10%;
  }
  
  .student-name {
    width: 35%;
    a:hover{ color: #FF0000; background: #E0FFFF;}
  }
}

/* 学校からの連絡一覧 */

.contact-index-2 {
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 700px;
	height: 100px;
  background: #DDFFFF;
}

#table-school-contact {
  margin: 20px;
  border:groove 6px #8ec6ff;
  th {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;  
  }
  
  .date-1 {
    width: 12%;
  }

  .date-2 {
    width: 44%;
  }

  .date-3 {
    width: 44%;
  }
  
  td {
    vertical-align: middle;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    border: medium solid #FF9933;
    background: #CCFFFF;
  } 

  a.btn--green.btn--border-groove {
    font-size: 20px;
    font-weight: bolder;
    background: #FFFFCC;
    border: 6px groove #00FF00;
  }
}

/* 学校からの連絡 */

.contact-title-2 {
  margin-left: 20px;
  width: 560px;
  height: 60px;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: bold;
  background: #e4fcff;/*背景色*/
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}

/* 担任からの連絡 */

.contact-index-3 {
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 600px;
	height: 100px;
  background: #DDFFFF;
}

/* 学級だより作成 */

.board-edit {
  margin: auto;
  margin-bottom: 15px;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

.board-title {
  font-size: 30px;
  font-weight: bold;
} 

.board-title2 {
  margin-left: -10px;
  
input[type="text"] {
    margin: 10px;
    height: 60px;
    padding: 0.5em 1em;
    font-size: 20px;
    font-weight: bold;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  }
}

.class-board {
  textarea {
    font-size: 20px;
    font-weight: bold;
    width:1200px;
    height:300px;
    border: solid 3px #FF0461;/*線*/
    border-radius: 10px;/*角の丸み*/
    margin-left: auto;
    margin-right: auto;
  }
}

.board {
  float: right;
}

.board-btn {
  margin-left: 2px;
  width: 150px;
}

/* 学級だより（保護者側・一覧） */

#table-board-index {
  margin: 20px;
  border:groove 6px #8effc7;
  th {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;  
  }
  .board-index-1 {
    width: 30%;
  }
  .board-index-2 {
    width: 70%;
  }
}

.board-class { 
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 440px;
	height: 100px;
  background: #DDFFFF;
}

.line-title {
  margin: auto;
  margin-bottom: 15px;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

.line-create {
  textarea {
    font-size: 20px;
    font-weight: bold;
    width:1200px;
    height:50px;
    border: solid 3px #FF0461;/*線*/
    border-radius: 10px;/*角の丸み*/
    margin-left: auto;
    margin-right: auto;
  }
}

.line-register {
  font-size: 20px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #CCFFCC;	
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
}


