/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* ログイン後画面 */

.top-select div{
  /* background: rgb(135, 235, 173); */
  font-size: 25px;
  margin: 10px;
  width: 200px;
  height: 100px;
}

.student-line {
	white-space: pre;
}

.title-line {
  font-size: 30px;
  font-family: ヒラギノ丸ゴ ProN;
  text-align: center;
  border: 4px solid #FF0000;
  background: #AAFFFF;
  margin: 10px;
  width: 500px;
  height: 50px;
  border-radius: 1em; 
  a:hover{ color: #FF0000; background: #EDFFBE;} 
}
  
.title-line2 {
  font-size: 30px;
  border: 4px solid #FF0000;
  background: #AAFFFF;
  text-align: center;
  margin: 10px;
  width: 500px;
  height: 50px;
  border-radius: 1em;
  a:hover{ color: #FF0000; background: #EDFFBE;} 
}



/*.text3 {border-top: 4px solid #ff838b;
  border-bottom: 4px solid #ff838b;}

/* 生徒詳細 */

#table-attendances {
  th {
    vertical-align: bottom;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}