/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* ログイン後画面 */

.top-select div{
  /* background: rgb(135, 235, 173); */
  font-size: 25px;
  margin: 10px;
  width: 200px;
  height: 100px;
}

.title-line {
  font-size: 30px;
  font-family: ヒラギノ丸ゴ ProN;
  text-align: center;
  border: 4px solid #FF0000;
  background: #AAFFFF;
  margin: 10px;
  width: 500px;
  height: 50px;
  border-radius: 1em; 
  a:hover{ color: #FF0000; background: #EDFFBE;} 
}
  
.title-line2 {
  font-size: 30px;
  border: 4px solid #FF0000;
  background: #AAFFFF;
  text-align: center;
  margin: 10px;
  width: 500px;
  height: 50px;
  border-radius: 1em;
  a:hover{ color: #FF0000; background: #EDFFBE;} 
}

.student-line {
  /*white-space: pre;*/
  font-size: 30px;
  font-family: ヒラギノ丸ゴ ProN;
  text-align: center;
  border: 4px solid #FF0000;
  background: #AAFFFF;
  margin: 10px;
  width: 500px;
  height: 50px;
  border-radius: 1em; 
  a:hover{ color: #FF0000; background: #EDFFBE;} 
}

/* ログイン後画面（保護者）*/

.title-line-3 { 
  right:90px;
  width: 690px;
  font-size: 30px;
  background: #FFDBC9;
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #62c1ce;
  a:hover{ color: #FF0000; background: #EDFFBE;} 
}

.title-line-3 .box-title {
  position: absolute;
  display: inline-block;
  top: -45px; 
  left: -3px; 
  padding: 0 40px;
  height: 45px;
  line-height: 45px;
  font-size: 35px;
  background: #A4C6FF;
  color: black;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.title-line-3 p {
  margin: 0; 
  padding: 0;
}

.title-line-4 {
  margin-left: 30px;
  width: 300px;
  padding: 0.5em 1em;
  color: #FFF;
  background: #99FFCC;
  border-bottom: solid 6px #3f87ce;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  a:hover{ color: #FF0000; background: #EDFFBE;} 
}

a.btn--green.btn--border-groove {
  font-size: 25px;
  font-weight: bolder;
  background: #FFFFCC;
  border: 6px groove #00FF00;
  width: 130px;
} 

.title-board {
  width: 178px;
  padding: 0.5em 1em;
  margin-top: 60px;
  margin-left: 0px;
  color: #5989cf;
  background: #DDFFFF;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
  position:absolute;
	bottom: 638px;
	right:493px;

  h4 {
    font-size: 30px;
    color: #0066FF;
    margin: 0; 
    padding: 0;
  }
}

.bulletin-board {
  font-size: 20px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: black;
  background: #FFFFCC;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  margin-top: 10px;
  width: 650px;
  height:200px;
  position:absolute;
	bottom: 390px;
	right:20px;
}

.bulletin-board p {
  margin: 0; 
  padding: 0;
}

/* 生徒一覧 */

.student-title { 
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #00F9A9;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

#table-student-index {
  margin: 20px;
  border:groove 6px #8ec6ff;
  
  th {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;  
  }
  td {
    font-size: 20px;
    text-align: center;
    border: medium solid #FF9933;
  }
}

/* 生徒一覧2*/

#table-index-teacher  {
  background: #FFEEFF;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
  width: 400px;
  margin: 30px;
  
  th {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border-width: medium;
  }
}

/* 生徒詳細 */

#student-detail {
  margin: 20px;
  width: 300px;
  height: 50px;
  writing-mode: vertical-lr;
  margin-left: auto;
  margin-right: auto;
  
  th {
    text-align: center;
    padding:33px 20;
    font-size: 25px;
    color: #0000CD;
    writing-mode: horizontal-tb;
    border:groove 6px #FF00FF;
  }
  td {
    width: 500px;
    text-align: center;
    padding:30px 10;
    font-size: 35px;
    writing-mode: horizontal-tb;
    border:groove 6px #FF00FF;
  }
}

/* 生徒登録 */

.student-title-2 { 
  margin-left: auto;
  margin-right: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #00F9A9;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

.student-register {
  font-size: 20px;
  margin: 20px;
  width: 83%;
  margin-left: 58px;
}

.student-register2 {
  font-size: 20px;
  margin: 20px;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  border-width:3px;
  font-size: 35px;
  width: 550px;
  height: 60px;
}

input[type="email"] {
  border-width:3px;
  font-size: 35px;
  width: 550px;
  height: 60px;
}

input[type="password"] {
  border-width:3px;
  font-size: 35px;
  width: 550px;
  height: 60px;
}

.class-select {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.item-1 {
  margin-left: -17px;
}

.item-2 {
  margin-right: 10px;
  padding: 3px 5px;
  text-align: center;
}

.item-3 {  
  margin: 2px;
  margin-right: 13px;
  font-size: 30px;
  color: black;
}

.item-4 {
  float: left;
  margin-right: 10px;
  padding: 3px 5px;
  text-align: center;
}

.birthday-select {
  font-size: 30px;
  color: black;
}

.btn-student {
  margin-top: 20px;
  width: 555px;
  height: 45px;
  font-size: 20px;
  color: black;
}

.student-number {
  input[type="text"] {
    border-width:3px;
    font-size: 25px;
    width: 90px;
    height: 45px;
  }
}

/* 担任登録 */

.teacher-register {
  margin-right: auto;
  margin-left: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #00F9A9;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

/* 担任一覧 */

.teacher-title { 
  margin-left: auto;
  margin-right: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #00F9A9;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

/* 担任情報編集 */

.teacher-edit-1 {
  margin-left: auto;
  margin-right: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

.teacher-edit-2  {
  margin: 30px;
  font-size: 20px;
}

.teacher-class {
  font-size: 30px;
}

.teacher-btn {
  width: 555px;
}

#table-show-student {
  margin-right: 30px;
  border:groove 6px #8ec6ff;
  a:hover{ color: #FF0000; background: #E0FFFF;}
  th {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;
    background: #CCFFFF;  
  }
  td {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: medium solid #FF9933;
    background: #FFFFCC;
  }
  .student-name1 {
    a:hover{ color: #FF0000; background: #E0FFFF;}
    a {
      margin-left: 20px;
      font-size: 28px;
    }
  }
}

#table-show-guardian {
  margin-right: 30px;
  border:groove 6px #8ec6ff;
  a:hover{ color: #FF0000; background: #E0FFFF;}
  th {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;
    background: #CCFFFF;  
  }
  td {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: medium solid #FF9933;
    background: white;
  }
  .student-name1 {
    a:hover{ color: #FF0000; background: #E0FFFF;}
    a {
      margin-left: 3px;
      font-size: 28px;
    }
  }
}

/*.guardian-3 {
  width: 35%;
}*/

.student-name3 {
  vertical-align: middle;
}

#table-show-notification {
    margin: 30px;
    border:groove 6px #8ec6ff;
    a:hover{ color: #FF0000; background: #E0FFFF; }
    th {
      font-weight: bolder;
      font-size: 30px;
      text-align: center;
      border: medium solid #FF9933;
      border-bottom-color: #FF9933;
      background: #FFCCFF;  
    }
    td {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      border: medium solid #FF9933;
      background: #FFFFCC;
    }

    td a {
      color: #0066FF;
    }

    .student-name1 {
      
      a:hover{ color: #FF0000; background: #E0FFFF;}
      a {
        margin-left: 20px;
        font-size: 28px;
    }
  }
}

.guardian-1 {
  width: 75%;
}

.guardian-2 {
  width: 25%;
}

/* 連絡帳 */

.contact-board-title {
  margin-left: 380px;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

#table-board-student {
  margin: 30px;
  border:groove 6px #8ec6ff;
  a:hover{ color: #FF0000; background: #E0FFFF;}
  th {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;
    background: #CCFFFF;  
  }
  td {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: medium solid #FF9933;
    background: #FFFFCC;
  }
  .student-name {
    a:hover{ color: #FF0000; background: #E0FFFF;}
  }
}

.btn--student {
  font-size: 20px;
  font-weight: bolder;
  background: #FFFFCC;
  border: 6px groove #00FF00;
  padding-top: 0.08em;
  padding-bottom: 0.08em;
}

#teacher-show {
  margin: 20px;
  width: 500px;
  writing-mode: vertical-lr;
  margin-left: auto;
  margin-right: auto;
  
  th {
    text-align: center;
    padding:15px 20;
    font-size: 30px;
    color: #8B0000;
    writing-mode: horizontal-tb;
    border:groove 6px #00FFFF;
    background: #FFFFCC;
    display: inline-block;  
  }
}

/* 投稿通知アコーディオン（保護者） */

.board-panel {
  margin-left: 0px;
  background: #FFDDFF;	
  border:groove 6px #8ec6ff;
}

.panel-title {
  font-size: 30px;
  font-weight: bold;
  a:hover{ color: #0004ff; background: #E0FFFF;}
}

.board-1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 5px 20;
  border: medium solid #990000;
  background: #FFFFCC;
  margin-left: 0px;
}

.board-2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding:5px 20;
  border: medium solid #990000;
  background: #FFFFCC;
  margin-left: 0px;
}

.board-3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding:5px 20;
  border: medium solid #990000;
  background: #FFFFCC;
  margin-left: 0px;
}

/* 投稿通知アコーディオン（担任） */

.board-4 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding:5px 20;
  border: medium solid #990000;
  background: #FFFFCC;
  margin-left: 0px;
}

.board-5 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding:5px 20;
  border: medium solid #990000;
  background: #FFFFCC;
  margin-left: 0px;
}

.board-6 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding:5px 20;
  border: medium solid #990000;
  background: #FFFFCC;
  margin-left: 0px;
}

.board-7 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding:5px 20;
  border: medium solid #990000;
  background: #FFFFCC;
  margin-left: 0px;
}

/* 投稿通知アコーディオン（管理者） */

.board-8 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding:5px 20;
  border: medium solid #990000;
  background: #FFFFCC;
  margin-left: 0px;
}

.board-9 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding:5px 20;
  border: medium solid #990000;
  background: #FFFFCC;
  margin-left: 0px;
}

.top-page {
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px; 
  background-clip: border-box;
  width: 103%;
  height: 18%;
}

.top-text {
  /*margin-left: 60px;*/
  margin-right: auto;
  margin-left: auto;
}

.box-1 {
  line-height: 21px;
}

.top-test {
  /*margin-left: 215px;*/
  background: #EEFFFF;
  width: 600px;
  height: 390px;
  margin-right: auto;
  margin-left: auto;
}

.top-test2 {
  margin-left: 23px;
}



