/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* ログイン後画面 */

.top-select div{
  /* background: rgb(135, 235, 173); */
  font-size: 25px;
  margin: 10px;
  width: 200px;
  height: 100px;
}

.student-line {
	white-space: pre;
}

.title-line {
  font-size: 30px;
  font-family: ヒラギノ丸ゴ ProN;
  text-align: center;
  border: 4px solid #FF0000;
  background: #AAFFFF;
  margin: 10px;
  width: 500px;
  height: 50px;
  border-radius: 1em; 
  a:hover{ color: #FF0000; background: #EDFFBE;} 
}
  
.title-line2 {
  font-size: 30px;
  border: 4px solid #FF0000;
  background: #AAFFFF;
  text-align: center;
  margin: 10px;
  width: 500px;
  height: 50px;
  border-radius: 1em;
  a:hover{ color: #FF0000; background: #EDFFBE;} 
}

/* 生徒一覧 */

.student-title { 
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #00F9A9;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

#table-student-index {
  margin: 20px;
  border:groove 6px #8ec6ff;
  
  th {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;  
  }
  td {
    font-size: 20px;
    text-align: center;
    border: medium solid #FF9933;
  }
}

/* 生徒一覧2*/

#table-index-teacher  {
  background: #FFEEFF;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
  width: 400px;
  margin: 20px;
  
  th {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border-width: medium;
  }
}

#table-class-index {
  margin: 20px;
  border:groove 6px #8ec6ff;
  
  th {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border: medium solid #FF9933;
    border-bottom-color: #FF9933;  
  }
  td {
    font-size: 20px;
    text-align: center;
    border: medium solid #FF9933;
    background: #FFFFCC;
  }
  .student-name {
    a:hover{ color: #FF0000; background: #E0FFFF;}
  }
}

/* 生徒詳細 */

#student-detail {
  margin: 20px;
  width: 300px;
  height: 50px;
  writing-mode: vertical-lr;
  margin-left: auto;
  margin-right: auto;
  
  th {
    text-align: center;
    padding:33px 20;
    font-size: 25px;
    color: #8B0000;
    writing-mode: horizontal-tb;
    border:groove 6px #00FFFF;
  }
  td {
    width: 500px;
    text-align: center;
    padding:30px 10;
    font-size: 35px;
    writing-mode: horizontal-tb;
    border:groove 6px #00FFFF;
  }
}

/* 生徒登録 */

.student-register  {
  font-size: 20px;
}

input[type="text"] {
  border-width:3px;
  font-size: 25px;
  width: 555px;
  height: 45px;
}

input[type="email"] {
  border-width:3px;
  font-size: 25px;
  width: 555px;
  height: 45px;
}

input[type="password"] {
  border-width:3px;
  font-size: 25px;
  width: 555px;
  height: 45px;
}

.class-select {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.item-1 {
  margin-left: -17px;
}

.item-2 {
  margin-right: 10px;
  padding: 3px 5px;
  text-align: center;
}

.item-3 {  
  margin: 2px;
  margin-right: 13px;
  font-size: 30px;
  color: black;
}

.item-4 {
  float: left;
  margin-right: 10px;
  padding: 3px 5px;
  text-align: center;
}

.birthday-select {
  font-size: 30px;
  color: black;
}

/* 担任一覧 */

.teacher-title { 
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #00F9A9;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

/* 担任情報編集 */

.teacher-edit-1 {
  margin: auto;
  font-family: ヒラギノ丸ゴ ProN;
  font-size: 15px;
  color: #111111;
  border-style: outset;
  border: 10px outset #0066FF;
  border-width:10px;
  width: 400px;
	height: 100px;
  background: #DDFFFF;
}

.teacher-edit-2  {
  font-size: 20px;
}

.teacher-class {
  font-size: 30px;
}

.teacher-btn {
  width: 560px;
}

